#card-container {
  display: flex;
  flex-wrap: wrap;
  padding:0 100px;
  justify-content: flex-start;
}

.card {
  max-width: 400px;
  margin-bottom: 1em;
  margin-right:1em;
  display:flex;
  flex-direction: column;
  border-radius: 5px;
  border-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card > header {
  padding:.5em;
  border-bottom: 3px solid white;
}

.card figure > img {
  width: 100%;
  height: auto;
}

.card > .content {
  padding:.5em;
  flex-grow: 2;
}

.card h2 {
  font-family: 'Open Sans';
  font-size: 20px;
}

.form-controls {
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  padding:.5em;
}

.form-controls .button {
  border-top: 1px solid white;
  margin-left:.5em;
}